.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex: 10;
  margin: 20px;
}

.navBar {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.navBar p {
  margin: 20px 0 20px 20px;
  font-size: 30px;
}
.navBar .resetBoard {
  margin: 20px 0 20px 20px;
  font-size: 20px;
}
.container .subsection {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 500;
}

.container .winnerWidgetContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #1a1a1a99;
  flex-direction: column;
}

.container .winnerWidgetContainer p {
  font-size: 25px;
  color: white;
}

.container .winnerWidgetContainer .winnerWidgetBackground {
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
